
__pycache__/
#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

.codacy/cli.sh
.codacy/codacy.yaml
.github/instructions/codacy.instructions.md
.vs/*
**/bin/
**/obj/

simulator/.github/instructions/codacy.instructions.md
simulator/data/routes/processed/*
FleetPulse.DbWriter/.dockerignore
**/.vs/
FleetPulse.DbWriter/FleetPulse.DbWriter/appsettings.Development.json

FleetPulse.SignalRHub/FleetPulse.SignalRHub/FleetPulse.SignalRHub.csproj.user
fleetpulse.frontend/.env
fleetpulse.frontend/.github/instructions/codacy.instructions.md
