
__pycache__/
#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

.codacy/cli.sh
.codacy/codacy.yaml
.github/instructions/codacy.instructions.md
.vs/*
**/bin/
**/obj/

simulator/.github/instructions/codacy.instructions.md
simulator/data/routes/processed/*
FleetPulse.DbWriter/.dockerignore
**/.vs/
FleetPulse.DbWriter/FleetPulse.DbWriter/appsettings.Development.json

FleetPulse.SignalRHub/FleetPulse.SignalRHub/FleetPulse.SignalRHub.csproj.user
fleetpulse.frontend/.env
fleetpulse.frontend/.github/instructions/codacy.instructions.md
fleetpulse.frontend/.codacy/cli.sh
fleetpulse.frontend/.codacy/codacy.yaml
FleetPulse.SignalRHub/FleetPulse.SignalRHub/appsettings.Development.json
FleetPulse.SignalRHub/FleetPulse.SignalRHub/appsettings.Development.json
ai-worker/.codacy/cli.sh
ai-worker/.codacy/codacy.yaml
ai-worker/.github/instructions/codacy.instructions.md
ai-worker/src/.env
FleetPulse.SignalRHub/FleetPulse.SignalRHub/appsettings.Development.json
.codacy/codacy.config.baseline.json
.codacy/codacy.config.json
docker/.env
ai-worker/.codacy/*
simulator/.codacy/*
fleetpulse.frontend/.codacy/*
simulator/.env
ai-worker/.pytest_cache/*
FleetPulse.DbWriter/.codacy/*
FleetPulse.DbWriter/.github/instructions/codacy.instructions.md
FleetPulse.DbWriter/.gitignore
FleetPulse.SignalRHub/.github/instructions/codacy.instructions.md
FleetPulse.SignalRHub/.gitignore
