confluent_kafka==2.15.0
shapely==2.1.2

pydantic==2.13.4
pydantic-settings==2.14.2

# ============================================================================
# Azure SDK - AI Services
# ============================================================================
# azure-ai-agents==1.1.0
# azure-core==1.35.1
# azure-common==1.1.28
azure-identity==1.25.3


# ============================================================================
# LangChain - Core
# ============================================================================
# langchain==1.1.0
# langchain-core==1.1.0
# langchain-classic==1.0.0
# langchain-community==0.4.1
# langchain-text-splitters==1.0.0

# ============================================================================
# LangSmith & Observability
# ============================================================================
#langsmith==0.5.1
#langgraph-checkpoint-redis==0.1.0

# ============================================================================
# OpenAI
# ============================================================================
# openai==2.8.1
# tiktoken==0.12.0


# ============================================================================
# Machine Learning & AI
# ============================================================================
# torch==2.9.0
# transformers==4.57.1
# tokenizers==0.22.1
# sentence-transformers==5.1.2
# huggingface-hub==0.35.3
# safetensors==0.6.2

# ============================================================================
# Machine Learning Support
# ============================================================================
# ml_dtypes==0.5.4
# semantic-text-splitter==0.28.0
# jiter==0.12.0


# ============================================================================
# LangChain - Integrations
# ============================================================================
langchain-openai==1.4.1
# langchain-huggingface==1.1.0
# langchain-milvus==0.3.0


# ============================================================================
# Kafka
# ============================================================================
confluent-kafka==2.15.0


# ============================================================================
# Prometheus Client
# ============================================================================
prometheus-client==0.26.0

# ============================================================================
# Logging
# ============================================================================
structlog==26.1.0


# ============================================================================
# Traceing with OpenTelemetry
# ============================================================================
opentelemetry-api==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0